.vscode/
.cache/

compile_flags.txt

privatesav-dsiware-exports/
dsiware-exports/
build/*
testcia/*

0004*

*.cxi
*.lst
*.map
*.idb
*.id*
*.nam
*.til
*.cia.*
*.bin
*.elf
*.zip
*.cia
*.sh
*.d
compile_commands.json
